<div class="container">

	<div class="starter-template text-center">
		<h1>{{get_name}}</h1>
		<p class="lead">Welcome to the official site of the {{get_name}}</p><br>
		<p> This site is currently under <strong class="text-warning">construction</strong>. There will be 
			many changes happening and some great features coming. Stay tuned!</p>
	</div>

</div><!-- /.container -->
