<div class="container">

	<div class="starter-template">
		<div class="text-center">
		<h1>{{get_name}}</h1>
		<p class="lead">Voting for themes is closed. Thank you all for participating!</p>
		<p class="text-muted">*Remember, you have until April 9, 23:00 GMT to submit your games!</p>
		<hr>
		<h3> The winning theme is... </h3>
		<p>{{winner.value.name}}</p>
		<br>
		<h4> The top 3 themes were... </h4>
		{{#each themes}}
		<p>{{this.value.name}}</p><br>
		{{/each}}


	</div>
	</div>

</div><!-- /.container -->
