<div class="container">

	<div class="starter-template">
		<div class="text-center">
		<h1>{{get_name}}</h1>
		<p class="lead">Vote for your favorite Gam Jam theme or submit a new theme!</p>
		<p class="text-muted">*Remember, you only have until Friday March 31st 00:00 GMT to vote!</p><br>
		<div class="row">
			<form action="/themes" method="post">
				<input type="text" placeholder="Game jam theme" name="theme_name"/>  
				<input type="submit" value="Submit"/>
			</form>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-4">
				<h4><strong><u>Theme name</u></strong></h4>
			</div>
			<div class="col-xs-4">
				<h4><strong>Number of Votes</strong></h4>
			</div>
			<div class="col-xs-4">
				<h4><strong>Vote Link</a></h4>
			</div>
		</div>
		<hr>
		{{#each themes}}
				<div class="row">
					<div class="col-xs-4">
						<h4><strong><u>{{this.value.name}}</u></strong></h4>
					</div>
					<div class="col-xs-4">
						<h4><strong>{{this.value.votes}}</strong></h4>
					</div>
					<div class="col-xs-4">
						<h4><strong><a href="/votes/{{this.id}}"><i class="text-danger fa fa-heart"></i></a></h4>
					</div>
				</div>
		{{/each}}
	</div>
	</div>

</div><!-- /.container -->
