<div class="container">
	<div>
		<h1>Oh snap!</h1>
		<br>
		<h3 id="alertmsg" class="alert alert-warning"><strong>You've already voted for this theme.</strong></h3>
		<br>
	</div>
</div><!-- /.container -->
