<div class="container">

	<div class="starter-template">
		<img class="img-responsive" src="/assets/img/3gKYa8a.png">
		<div class="text-center"><br>
		<h4><strong><u>Welcome to Game Dev Network's first game jam!</u></strong></h4><br>
		<p><strong><a href="https://discord.gg/sWsrrJQ" target="_blank">Click here to join the server!</a></strong></p><br>
		<p>Head on over to <a href="https://itch.io/jam/game-dev-network-apple-jam" target="_blank">
		itch.io</a> to sign up for the game jam!</p><br>
		</div>
		<h4><strong><u>Theme</u></strong></h4>
		<p>Undecided</p><br>
		<h4><strong><u>Who are we?</u></strong></h4>
		<p>Game Dev Network is a community of game programmers, artists, sound engineers, 
			any role remotely related to games really. Whether you're looking for an 
			extra team mate for a project or just want some feedback on your latest pixel 
			art masterpiece, we're here! </p><br>
		<h4><strong><u>Why participate?</u></strong></h4>
		<p>As a huge game jam advocate and having ran multiple jams in the past, I am never 
			not asked "why". Not only does participating in a game jam give you the chance to 
			flex your creativity and build on your portfolio, you get the opportunity to talk 
			to other jammers, get feedback and make connections.</p>
		<p class="text-success"><strong><u>Oh, and winners will recieve a winner title on the 
			server as well as an awesome high quality Game Dev Network sticker!*</u></strong></p><br>
		<h4><strong><u>The process</u></strong></h4>
		<p><strong>1)</strong> Join our <a href="https://discord.gg/sWsrrJQ" target="_blank">discord</a>.</p>
		<p><strong>2)</strong> Say hi! Or don't and lurk in #gamejam.</p>
		<p><strong>3)</strong> Mmmm, apple jam..</p>
		<p><strong>4)</strong> Make some games!</p><br>
		<p>You'll have from Saturday April 1st 00:00 GMT until Sunday April 9th 23:00 to create 
			and submit your game. <u><strong>You hold all rights to anything 
			created during the jam</strong></u>. You may upload the source of your game, however this 
			is completely optional and participants are under <u><strong>no 
			obligation</strong></u> to do so.</p><br>
			<h4><strong><u>Rules</u></strong></h4>
			<p><strong>1)</strong> No NSFW content - <strong>Q:</strong> Can we still have blood splats? <strong>A:</strong> Hell yeah but make sure they're clothed!</p>
			<p><strong>2)</strong> No stolen content - Feel free to use snippets here and there from past projects, but please keep entries original and without copyright violations.</p>
			<p><strong>3)</strong> Even royalty free D:? - <strong class="text-danger">Within reason</strong>; You're welcome to use any public domain assets, though if you stumble upon an RPG framework and reskin it, that's a bit far.</p>
			<p><strong>4)</strong> No engine restrictions, whatever you feel comfortable with!</p>
			<p><strong>5)</strong> Max team size: <strong class="text-danger">4</strong></p><br>
			<h4><strong><u>Partner: Home of Indies</u></strong></h4>
			<p>Home of Indies is an upcoming web platform hand-crafted for indie developers. Create a custom 
			page for yourself, your studio or both and build your brand and distribute your games without the 
			fear of high sales fees. Whether you're looking for additional members for a project or looking for 
			work yourself, you're sure to find some value from HoI. Check out their Kickstarter here: 
			<a href="https://www.indiegogo.com/projects/home-of-indies#/" target="_blank">https://www.indiegogo.com/projects/home-of-indies#/</a></p><hr>
			<p class="text-muted"><i>*Each member of the winning team (one each, max 4 recipients) will recieve a high 
			quality die-cut GameDevNetwork sticker, we don't do that cheap stuff here. Postage is free! Winners will 
			also recieve a fancy role on the server to celebrate jam prowess.</i></p>
		</div>
	</div>

</div><!-- /.container -->
