nav.navbar-gdn {
  background-color: #0080B4;
  border-radius: 0;
}

a.navbar-brand {
  color: #fff;
}

ul.navbar-nav li a{
  color: #fff;
}

ul.navbar-nav li a:hover {
  background-color: #005B7D;
}

ul.navbar-nav li a:focus {
  background-color: #005B7D;
}
